# 1. Web Scraping - r/stocks

In [1]:
import pandas as pd
import requests
import time

In [2]:
# set base url
url = 'https://api.pushshift.io/reddit/search/submission'

In [3]:
# set parameters for scraping
params = {
    'subreddit':'stocks',
    'size': 100,
    'before': 1626851005
}

In [4]:
# assign response
res = requests.get(url, params)

In [5]:
# get status code
res.status_code

200

In [6]:
# save the response into a dataset
data = res.json()

In [7]:
print(type(data))

<class 'dict'>

In [8]:
# add dict to a list
list = []
list.append(data)

In [9]:
# save the 'data' key in data dictionary as posts
posts = data['data']

In [10]:
len(posts)

100

In [11]:
# save the posts as a dataframe
df = pd.DataFrame(posts)

In [12]:
df.head()

,all_awardings,allow_live_comments,author,author_flair_css_class,author_flair_richtext,author_flair_text,author_flair_type,author_fullname,author_is_blocked,author_patreon_flair,...,wls,link_flair_css_class,link_flair_template_id,link_flair_text,removed_by_category,post_hint,preview,author_flair_background_color,author_flair_text_color,banned_by
0,[],False,touchmaspaghetkev,None,[],None,text,t2_33242o42,False,False,...,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,[],False,Deagio1997,None,[],None,text,t2_4u4wrs51,False,False,...,6,trades,9f73d782-65e6-11e5-8878-12292be1b4e9,Trades,moderator,NaN,NaN,NaN,NaN,NaN
2,[],False,UrgeToSurge,None,[],None,text,t2_12bt69,False,False,...,6,NaN,NaN,NaN,moderator,NaN,NaN,NaN,NaN,NaN
3,[],False,Fyrebirdy123,None,[],None,text,t2_180g0sph,False,False,...,6,advicerequest,75a227ec-65e6-11e5-96ee-12d48f46797b,Advice Request,NaN,NaN,NaN,NaN,NaN,NaN
4,[],False,Fyrebirdy123,None,[],None,text,t2_180g0sph,NaN,False,...,6,advicerequest,75a227ec-65e6-11e5-96ee-12d48f46797b,Advice Request,moderator,NaN,NaN,NaN,NaN,NaN

In [13]:
# select only 4 columns for dataframe 'subreddit','selftext', 'title','created_utc'
data = df[['subreddit','selftext', 'title','created_utc']]

In [14]:
data.head()

,subreddit,selftext,title,created_utc
0,stocks,I am earning very little at the moment but I w...,Advise on Long Term Stock?,1626851004
1,stocks,[removed],Earning plays,1626847571
2,stocks,[removed],Going long vega? what is the maximum loss?,1626847468
3,stocks,"The stocks I chose were aapl, net, asts, icln,...",Dad told me to sell on Monday when the market ...,1626847423
4,stocks,[removed],Newbie trader. Dad told me to sell when the ma...,1626847066

In [15]:
data.isnull().sum()

subreddit      0
selftext       7
title          0
created_utc    0
dtype: int64

In [16]:
data.iloc[99]['created_utc']

1626806479

In [18]:
data.iloc[-1]

subreddit                                                 stocks
selftext                                               [removed]
title          Market Commentary (Current Status of the Marke...
created_utc                                           1626806479
Name: 99, dtype: object

In [19]:
# create for loop to scrape data from r/stocks

for i in range(50):
    params = {
        "subreddit": "stocks",
        "size": 100,
        "before": data.iloc[-1]['created_utc']
    }
    response = requests.get(url, params)
    print(response.status_code)
    scraped_data = response.json()
    posts = scraped_data["data"]
    print(i, ": ", len(posts))
    df = pd.DataFrame(posts)
    data_new = df[['subreddit','selftext', 'title','created_utc']]
    data = data.append(data_new, ignore_index=True)
    time.sleep(10)

200
0 :  100
200
1 :  100
200
2 :  100
200
3 :  100
200
4 :  100
200
5 :  100
200
6 :  100
200
7 :  100
200
8 :  100
200
9 :  100
200
10 :  100
200
11 :  100
200
12 :  100
200
13 :  100
200
14 :  100
200
15 :  100
200
16 :  100
200
17 :  100
200
18 :  100
200
19 :  100
200
20 :  100
200
21 :  100
200
22 :  100
200
23 :  100
200
24 :  100
200
25 :  100
200
26 :  100
200
27 :  100
200
28 :  100
200
29 :  100
200
30 :  100
200
31 :  100
200
32 :  100
200
33 :  100
200
34 :  100
200
35 :  100
200
36 :  100
200
37 :  100
200
38 :  100
200
39 :  100
200
40 :  100
200
41 :  100
200
42 :  100
200
43 :  100
200
44 :  100
200
45 :  100
200
46 :  100
200
47 :  100
200
48 :  100
200
49 :  100

In [20]:
data.tail()

,subreddit,selftext,title,created_utc
5095,stocks,[removed],IRBT??? All of the sudden 28% short on the float,1624393162
5096,stocks,[removed],Trader Bot 9000,1624393082
5097,stocks,https://www.bloomberg.com/news/articles/2021-0...,"MSFT closes at $2 Trillion, as second U.S. com...",1624393058
5098,stocks,[removed],5g Stocks Evaluation,1624393048
5099,stocks,[removed],"MSFT closes at $2 Trillion, as second U.S. com...",1624392821

In [21]:
data.shape

(5100, 4)

In [22]:
#save train_dataframe to csv
data.to_csv('../data/stocks.csv',index=False)