# 2. Data Cleaning - r/stocks

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("../data/stocks.csv")

In [3]:
data.head()

,subreddit,selftext,title,created_utc
0,stocks,I am earning very little at the moment but I w...,Advise on Long Term Stock?,1626851004
1,stocks,[removed],Earning plays,1626847571
2,stocks,[removed],Going long vega? what is the maximum loss?,1626847468
3,stocks,"The stocks I chose were aapl, net, asts, icln,...",Dad told me to sell on Monday when the market ...,1626847423
4,stocks,[removed],Newbie trader. Dad told me to sell when the ma...,1626847066

In [4]:
data.tail()

,subreddit,selftext,title,created_utc
5095,stocks,[removed],IRBT??? All of the sudden 28% short on the float,1624393162
5096,stocks,[removed],Trader Bot 9000,1624393082
5097,stocks,https://www.bloomberg.com/news/articles/2021-0...,"MSFT closes at $2 Trillion, as second U.S. com...",1624393058
5098,stocks,[removed],5g Stocks Evaluation,1624393048
5099,stocks,[removed],"MSFT closes at $2 Trillion, as second U.S. com...",1624392821

In [5]:
data.shape

(5100, 4)

In [6]:
data.isnull().sum()

subreddit       0
selftext       14
title           0
created_utc     0
dtype: int64

In [7]:
data

,subreddit,selftext,title,created_utc
0,stocks,I am earning very little at the moment but I w...,Advise on Long Term Stock?,1626851004
1,stocks,[removed],Earning plays,1626847571
2,stocks,[removed],Going long vega? what is the maximum loss?,1626847468
3,stocks,"The stocks I chose were aapl, net, asts, icln,...",Dad told me to sell on Monday when the market ...,1626847423
4,stocks,[removed],Newbie trader. Dad told me to sell when the ma...,1626847066
...,...,...,...,...
5095,stocks,[removed],IRBT??? All of the sudden 28% short on the float,1624393162
5096,stocks,[removed],Trader Bot 9000,1624393082
5097,stocks,https://www.bloomberg.com/news/articles/2021-0...,"MSFT closes at $2 Trillion, as second U.S. com...",1624393058
5098,stocks,[removed],5g Stocks Evaluation,1624393048
5099,stocks,[removed],"MSFT closes at $2 Trillion, as second U.S. com...",1624392821

In [8]:
data = data.drop(data[(data["selftext"]=="[removed]")].index)

In [9]:
data.shape

(1809, 4)

In [10]:
data = data.drop(data[(data["selftext"].isna() == True)].index)

In [11]:
data.shape

(1795, 4)

In [12]:
data.isnull().sum()

subreddit      0
selftext       0
title          0
created_utc    0
dtype: int64

In [13]:
data.tail()

,subreddit,selftext,title,created_utc
5085,stocks,As a small business owner I have an LLC; after...,Thoughts on moving ownership of a brokerage ac...,1624395798
5086,stocks,HIMS - Anyone answer me why this stock just vo...,HIMS - Anyone answer me why this stock just vo...,1624395708
5088,stocks,"**PsychoMarket Recap - Tuesday, June 22, 2021*...","Here is a Market Recap for today Tuesday, June...",1624395669
5094,stocks,What is going on with plug power? is it a meme...,About PLUG Power...,1624393256
5097,stocks,https://www.bloomberg.com/news/articles/2021-0...,"MSFT closes at $2 Trillion, as second U.S. com...",1624393058

In [14]:
data.shape

(1795, 4)

In [15]:
# drop duplicates in "selftext"
data.drop_duplicates(subset=["selftext"], keep='last', inplace=True)

In [16]:
data.shape

(1746, 4)

In [17]:
# keep first 1700 rows in dataset
data = data[0:1700]

In [18]:
data.shape

(1700, 4)

In [19]:
#save to csv
data.to_csv('../data/stocks_clean.csv',index=False)