# 2. Data Cleaning - r/CryptoCurrency

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("../data/crypto.csv")

In [3]:
data.head()

,subreddit,selftext,title,created_utc
0,CryptoCurrency,"Hello everyone, yesterday I was thinking about...",Should I create a gymkhana with all my cryptoc...,1626850949
1,CryptoCurrency,So I don’t understand why countries can ban cr...,A country’s ban on crypto is only valid if you...,1626850702
2,CryptoCurrency,"Listen, nothing you read on the internet is fi...",I was already convinced. Fibonacci golden rati...,1626850642
3,CryptoCurrency,NaN,*According to Research From Fidelity * - 71% o...,1626850580
4,CryptoCurrency,NaN,Illegal Crypto Miners in Ukraine Found Manipul...,1626850543

In [4]:
data.tail()

,subreddit,selftext,title,created_utc
5095,CryptoCurrency,Today I just got almost exactly halfway to my ...,Half way to my goal of X amount of BTC,1626565041
5096,CryptoCurrency,NaN,Crypto Price Prediction: Bitcoin ‘To Overtake’...,1626564859
5097,CryptoCurrency,We all know that technology is something that ...,What are some lesser known tokens that pique y...,1626564809
5098,CryptoCurrency,[removed],A real question about pornographic based crypt...,1626564805
5099,CryptoCurrency,[removed],"Fellow UK miners, I sympathise with all of you...",1626564768

In [5]:
data.shape

(5100, 4)

In [6]:
data.isnull().sum()

subreddit         0
selftext       1875
title             0
created_utc       0
dtype: int64

In [7]:
data

,subreddit,selftext,title,created_utc
0,CryptoCurrency,"Hello everyone, yesterday I was thinking about...",Should I create a gymkhana with all my cryptoc...,1626850949
1,CryptoCurrency,So I don’t understand why countries can ban cr...,A country’s ban on crypto is only valid if you...,1626850702
2,CryptoCurrency,"Listen, nothing you read on the internet is fi...",I was already convinced. Fibonacci golden rati...,1626850642
3,CryptoCurrency,NaN,*According to Research From Fidelity * - 71% o...,1626850580
4,CryptoCurrency,NaN,Illegal Crypto Miners in Ukraine Found Manipul...,1626850543
...,...,...,...,...
5095,CryptoCurrency,Today I just got almost exactly halfway to my ...,Half way to my goal of X amount of BTC,1626565041
5096,CryptoCurrency,NaN,Crypto Price Prediction: Bitcoin ‘To Overtake’...,1626564859
5097,CryptoCurrency,We all know that technology is something that ...,What are some lesser known tokens that pique y...,1626564809
5098,CryptoCurrency,[removed],A real question about pornographic based crypt...,1626564805
5099,CryptoCurrency,[removed],"Fellow UK miners, I sympathise with all of you...",1626564768

In [8]:
# drop rows with [removed], NaN and blanks 

#data = data.drop(data[(data["selftext"]=="[removed]")].index)
data = data[(data["selftext"]!="[removed]") & (data["selftext"].isna() == False) & (data["selftext"] != "")]

data = data.loc[data["selftext"].str.contains(r'\[removed\]') != True]

In [9]:
data.shape

(2044, 4)

In [10]:
#data = data.drop(data[(data["selftext"].isna() == True)].index)

In [11]:
data.shape

(2044, 4)

In [12]:
data.isnull().sum()

subreddit      0
selftext       0
title          0
created_utc    0
dtype: int64

In [13]:
data.tail()

,subreddit,selftext,title,created_utc
5091,CryptoCurrency,"Looking at the price the last couple of weeks,...",When did Bitcoin become a stable coin?,1626565290
5093,CryptoCurrency,"I keep seeing all these posts about ""I finally...",I finally have 50k Dogecoin! Nobody fuckin car...,1626565102
5094,CryptoCurrency,So I am going to put around 11K in Crypto. I a...,"Planning to put $11,000 dollars into Crypto. W...",1626565065
5095,CryptoCurrency,Today I just got almost exactly halfway to my ...,Half way to my goal of X amount of BTC,1626565041
5097,CryptoCurrency,We all know that technology is something that ...,What are some lesser known tokens that pique y...,1626564809

In [14]:
data.shape

(2044, 4)

In [15]:
# drop duplicates in "selftext"
data.drop_duplicates(subset=["selftext"], keep='last', inplace=True)

In [16]:
data.shape

(2006, 4)

In [17]:
# keep first 1700 rows in dataset
data = data[0:1700]

In [18]:
data.shape

(1700, 4)

In [20]:
#save to csv
data.to_csv('../data/crypto_clean.csv',index=False)